<header>
<div>
    <p><a href='/'>Home</a></p>
    <h3>HTML</h3>
    <p><a href='/5DIV.html'>div practice</a></p>
    <p><a href='/new-employee-register.html'>form practice</a></p>
    <h3>CSS</h3>
    <p><a href='/3D.html'>3D</a></p>
    <p><a href='/cartoon.html'>animation-Doraemon</a></p>
    <p><a href='/fish.html'>animation-Gold fish</a></p>
    <p><a href='/BoxModel.html'>box model</a></p>
    <p><a href='/Flexbox.html'>flexbox</a></p>
    <p><a href='/swing.html'>Flying Swing Layout</a></p>
    <h3>JavaScript</h3>
    <p><a href='/calculator.html'>Calculator</a></p>
    <p><a href='/waterfall.html'>Masonry Layouts</a></p>
</div>
</header>